<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="Rudy Jahchan" />
    <meta name="author" content="Rudy Jahchan" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= current_article.title + ' - ' unless current_article.nil? %>Rudy Jahchan</title>
    <link href="http://feeds.feedburner.com/rudyjahchan" rel="alternate" title="Rudy Jahchan" type="application/rss+xml" />
    <%= stylesheet_link_tag 'all' %>
  </head>
  <body>
    <nav id="main-nav" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand"><a href="/">Rudy Jahchan&nbsp;<span>&nbsp;</span></a></div>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'About', '/about/' %></li>
            <li><%= link_to 'Blog', '/blog/' %></li>
            <li><%= link_to 'Contact', '/contact/' %></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="faux-terminal">
      <div class="layer"></div>
      <div class="overlay"></div>
    </div>
    <%= yield %>
    <footer class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <p class="navbar-text navbar-right">
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>&nbsp;
          <a href="http://twitter.com/rudy"><i class="fa fa-twitter"></i></a>&nbsp;
          <a href="http://github.com/rudyjahchan/"><i class="fa fa-github"></i></a>&nbsp;
          <a href="http://instagram.com/rudyjahchan"><i class="fa fa-instagram"></i></a>&nbsp;
          <a href="http://feeds.feedburner.com/rudyjahchan"><i class="fa fa-rss"></i></a>
        </p>
      </div>
    </footer>
    <%= javascript_include_tag 'all' %>
  </body>
</html>
