<% wrap_layout :layout do %>
  <article<%= ' class="jumbo"' if current_page.data.jumbo %>>
    <% if current_page.data.video %>
      <div class="featured-video">
				<div class="responsive-video">
					<%= current_page.data.video %>
				</div>
      </div>
      <%= partial 'partials/header' %>
    <% elsif current_page.data.featured_image %>
      <% case current_page.data.featured_image.type
         when "header" %>
        <div class="featured-image" style="background-image: url(<%= current_page.data.featured_image.url %>);">
          <div class="overlay">
            <%= partial 'partials/header' %>
          </div>
        </div>
      <% when "inline" %>
        <div class="img-inline">
          <img src="<%= current_page.data.featured_image.url%>" alt="<%= current_page.data.featured_image.alt %>">
          <div class="caption"><%= current_page.data.featured_image.caption %></div>
        </div>
        <%= partial 'partials/header' %>
      <% end %>
    <% else %>
      <%= partial 'partials/header' %>
    <% end %>
    <div class="article-content"><%= yield %></div>
  </article>
<% end %>
